.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 4px 20px;
  min-width: 100px;
  border-radius: 100vw;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $clBlack;
  border: none;
  transition: background-color 0.3s ease;

  &--yellow {
    background: $clYellow;
  }

  &:not(.btn--disabled) {
    &:hover {
      background: $clYellowHover;
    }
  }
  &--loading {
    pointer-events: none;
    color: transparent;
    position: relative;
    &:after {
      @include pseudo();
      height: 20px;
      width: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0deg);
      background: url(../../assets/img/spinner.svg) no-repeat center;
      background-size: contain;
      animation:spin 2s linear infinite;
    }
  }

  &--disabled {
    pointer-events: none;
    background: $clDarkGrey;
    color: rgba(255, 255, 255, 0.87);
  }
}