.form {
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .field {
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }

    &__inner {
      position: relative;
    }

    &__input {
      font-family: $font-family-primary;
      height: 54px;
      padding: 14px 16px;
      width: 100%;
      border: 1px solid $clGrey;
      background: $clLightGrey;
      border-radius: 4px;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: $clBlack;
      transition: border-color 0.3s ease;
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px $clLightGrey inset !important;
        &:hover, &:focus, &:active {
          -webkit-box-shadow: 0 0 0 30px $clLightGrey inset !important;
        }
      }
      &::placeholder {
        color: $clLightGrey;
      }

      &:focus {
        &+.field__placeholder {
          transform: none;
          top: -13px;
        }
      }

      &:not(:placeholder-shown) {
        &+.field__placeholder {
          transform: none;
          top: -13px;
        }
      }
    }

    &__placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: $clPlaceholders;
      background: $clLightGrey;
      padding: 0 4px;
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s ease;
      border-radius: 2px;
      pointer-events: none;
    }

    &__error {
      min-height: 16px;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: $clRed;
      margin-left: 16px;
      margin-top: 4px;
    }
    &--highlight-error {
      .field__input {
        border-color: $clRed;
        border-width: 2px;
      }
      .field__placeholder {
        color: $clRed;
      }
      .file__hint, .file__preview {
        border-color: $clRed;
        border-width: 2px;
      }
    }
    &__hint {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: $clPlaceholders;
      margin: 4px 0 0 16px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 11px;
  }

  .radio {
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 7px;
    }

    &__group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__box {
      height: 20px;
      width: 20px;
      border: 1px solid $clGrey;
      border-radius: 50%;
      position: relative;
      transition: all 0.3s ease;

      &::after {
        @include pseudo();
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: $clBlue;
        opacity: 0;
        transition: all 0.3s ease;
      }
    }

    &__input {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      width: 0;

      &:checked {
        &+.radio__box {
          border-color: $clBlue;

          &:after {
            opacity: 1;
          }
        }
      }
    }

    &__hint {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: $clBlack;
    }
  }

  .file {
    height: 54px;
    width: 100%;
    display: flex;
    cursor: pointer;
    &__wrap {
      margin-top: 16px;
      margin-bottom: 0;
    }
    &__hint {
      height: inherit;
      width: 83px;
      border: 1px solid $clBlack;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      border-radius: 4px 0px 0px 4px;
      transition: border-color 0.3s ease;
    }

    &__preview {
      height: inherit;
      width: 100%;
      border: 1px solid $clGrey;
      border-left: none;
      display: flex;
      align-items: center;
      border-radius: 0 4px 4px 0;
      padding-left: 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: $clPlaceholders;
      transition: border-color 0.3s ease;
      &--filled {
        color: $clBlack;
      }
    }

    &__input {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      width: 0;
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}